img {
  width: 300px;   
}

header {
  background-color: rgb(209, 149, 218); 
  color: black; 
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 16px;

}

main {
  bac
}